span{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.figCaption{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
/* .MuiBox-root-10{
    margin: 40px;
} */
