span{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.figCaption{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.MuiBox-root-10{
    margin: 40px;
}
.MuiBox-root-8{
    display: flex;
    justify-content: center;
    margin-left: 55.500px;
    margin-right: 60.500px;
}
.MuiButton-label{
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
}
/* .makeStyles-boxPadding-6 {
    padding: 20px 40px 36px;
} */
.MuiButton-contained{
    height: 40px;
    width: 45px;
    text-transform: none;
    background-color: #1a73e8;
}
#MuiButtoncontained {
    background-color: #1a73e8;
    color: #fff;
}
#imgDiv{
    position: absolute;
    margin-top: 69px;
}
a{
    text-decoration:none;
    color:#5f6368;
}
a:hover{
    text-decoration-line: none;
}